channels:
  - conda-forge
  - anaconda
  - defaults
dependencies:
  - python=3.10
  - notebook
  - pip
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - plotly
  - scikit-learn
  - xgboost
  - lightgbm
  - catboost
  - typing_extensions
  - hyperopt
  - databricks-cli
  - GitPython
  - docker-py
  - kaggle
  - jupyter
  - jupyterlab
  - ipython
  - ipywidgets
  - bokeh
  - holoviews
  - datashader
  - dask
  - joblib
  - statsmodels
  - scikit-image
  - opencv
  - pillow
  - numba
  - networkx
  - sqlite
  - sqlalchemy
  - psycopg2
  - mysql-connector-python
  - h5py
  - requests
  - beautifulsoup4
  - lxml
  - html5lib
  - scrapy
  - graphviz
  - python-graphviz
  - python-Levenshtein
  - multiprocess
  - openpyxl
  - xlrd
  - xlwt
  - feather-format
  - pyarrow
  - fastparquet
  - snappy
  - lz4
  - blosc
  - conda-pack
  - cloudpickle
  - pip:
      - sensai==1.0.0b2
      - mlflow
      - chart_studio
      - cufflinks
      - kaleido
      - pickle5