channels:
  - conda-forge
  - anaconda
  - defaults
dependencies:
  - python=3.10
  - notebook
  - pip
  - numpy
  - pandas
  - scipy
  - matplotlib
  - seaborn
  - plotly
  - scikit-learn
  - GitPython
  - docker-py
  - kaggle
  - jupyter
  - jupyterlab
  - ipython
  - ipywidgets
  - scikit-image
  -os
  -mlflow
  - pip:
      - sensai==1.0.0b2
      - mlflow
      - chart_studio
      - cufflinks
      - kaleido
      - pickle5